@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }

  h1,h2,h3,h4,h5,h6,
  .h1,.h2,.h3,.h4,.h5,.h6{
    @apply font-heading font-extrabold uppercase;
  }
  body + * {
    @apply font-body;
  }
  h1,.h1 {
    @apply text-5xl;
  }
  h2,.h2 {
    @apply text-4xl;
  }
  h3,.h3 {
    @apply text-2xl;
  }
  h4,.h4{
    @apply text-xl;
  }
  h5,.h5{
    @apply text-lg
  }
  a {
    @apply text-black font-bold font-body;
  }
  section{
    @apply mt-12
  }
  section.banner{
    @apply mt-0
  }
  .center{
    @apply text-center
  }
  .left{
    @apply text-left
  }
  .right{
    @apply text-right
  }
  .padding-t-4{
    @apply pt-1
  }
  .padding-t-8{
    @apply pt-2
  }
  .padding-t-12{
    @apply pt-3
  }
  .container.no-def-padding-desktop{
    @apply lg:pl-0 lg:pr-0
  }
  
}

/* .megamenu{
    opacity: 0;
    pointer-events: none;
    transition: all .3s cubic-bezier(.42,0,.58,1);
    transform: translateY(20px);
    transform-origin: top;
}

.megamenu:hover{
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
} */

 .header-menu a.main-menu {
  transition: transform 250ms;
}

.header-menu a.main-menu:hover + .megamenu{
  /* transform: translateY(-10px); */
  opacity: 1;
}  
/* .header-menu a.main-menu {
  position: relative;
  cursor: pointer;
}

.header-menu a.main-menu::after {
  content: '';
  position: absolute;
  inset: -14px;
  cursor: pointer;
}  */

.splide__arrow.splide__arrow--prev{
  left:-3em;
}

.splide__arrow.splide__arrow--next{
  right:-3em;
}