{% schema %}
{
  "name": "Banner",
  "tag": "section",
  "class": "banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Select Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading Text",
      "default": "everything you've wanted"
    },
    {
      "type": "text",
      "id": "subtext",
      "label": "Subtext",
      "default": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam ipsam laudantium, expedita facere blanditiis veritatis!"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button Text",
      "default": "shop now"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "Button URL",
      "default": "/"
    }
  ],
  "presets": [
    {
      "name": "Banner"
    }
  ]
}
{% endschema %}
<div class="relative max-h-[680px] overflow-hidden">
  <span class="block">
    {% render 'component-image', image: section.settings.image %}
    <span class="flex flex-col gap-3 absolute top-1/2 left-10 p-7 bg-white w-2/5">
      <h2>{{ section.settings.heading }}</h2>
      <p>{{ section.settings.subtext }}</p>
      <a href="{{ section.settings.btn_url }}" class="btn-underline w-fit">{{ section.settings.btn_text }}</a>
    </span>
  </span>
</div>
